name: License Check

on:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]

jobs:
  license-check:
    runs-on: ["self-hosted", "small"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        
      - name: Check Licenses
        uses: apache/skywalking-eyes@v0.8.0